# Google OAuth Client ID (used in src/services/googleMeet.ts)
# Configure your OAuth client at https://console.cloud.google.com/apis/credentials
# Make sure redirect_uri is set to your app's origin (e.g., http://127.0.0.1:3000)
